<!-- HEADER ############################################### -->
<section id="header">
  <div class="row text-right social-stuff">
    <!--  Facebook Share Button-->
    <!-- PUT HERE YOUR GENERATE CODE OF FACEBOOK BUTTON : developers.facebook.com/docs/reference/plugins/like/ -->
    <!-- Twitter Share Button -->
<!--     <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script> -->
  </div>
  <div class="row">
    <div class="twelve columns centered">
      <!-- Logo -->
      <div class="fade1 logo">
        <%= image_tag "logo.png" %>
      </div>
      <!-- Title -->
      <h2 class="fade2">Genuine Thank You Cards
        <br>#BestRegards</h2>
    </div>
  </div>
</section>
<!-- END HEADER ############################################### -->

<!-- BEGIN CONTAINER ############################################### -->
<div id="container" class="container">
  <div id="cbp-so-scroller" class="cbp-so-scroller"> <!-- HERE IS THE DIV FOR SCROLLING EFFECT -->

<!-- SECTION THUMBS ############################################### -->
<section class="cbp-so-section thumbs">
  <div class="row">
    <div class="twelve columns centered">
      <h3>Who We Are</h3>
      <p class="lead">
        <b>Authentic</b> handwritten letters to express gratitude.
        <br> Save up to 40 hours of labor in just 5 minutes.
        <br> More <b>affordable</b> than calligraphy services.
      </p>
      <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b">
        <ul class="three_up tiles centered hi-icon-effect-9 hi-icon-effect-9b">
          <li>
            <a href="layout.html" class="hi-icon hi-icon-images">Images</a>
            <div class="clear"></div>
            <h4>Browse the layouts</h4>
            <p>Explore our layouts and select from a variety of letter templates.</p>
          </li>
          <li>
            <a href="order.html" class="hi-icon hi-icon-pencil">Edit</a>
            <div class="clear"></div>
            <h4>Place an order</h4>
            <p>Proceed with your order today!</p>
          </li>
          <li>
            <a href="#set-9" class="hi-icon hi-icon-mail">Mail</a>
            <div class="clear"></div>
            <h4>Reviews</h4>
            <p> Any comments about our services?
              <br>Leave them here! </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- END SECTION THUMBS ############################################### -->
</div>
</div>
