<!-- BEGIN CONTAINER ############################################### -->
<div id="container" class="container">
  <div id="cbp-so-scroller" class="cbp-so-scroller"> <!-- HERE IS THE DIV FOR SCROLLING EFFECT -->

<!-- SECTION THUMBS ############################################### -->
    <section class="cbp-so-section thumbs">
      <div class="row">
        <div class="twelve columns centered">
          <h3>THANK YOU!</h3>
          <p class="lead">
            Your order has been received! Thank you for using Best Regards for your handwritten letter needs.
          </p>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
