<!-- BEGIN CONTAINER ############################################### -->
<div id="container" class="container">
	<div id="cbp-so-scroller" class="cbp-so-scroller"> <!-- HERE IS THE DIV FOR SCROLLING EFFECT -->


<!-- SECTION THUMBS ############################################### -->
<section class="cbp-so-section thumbs">
	<div class="row">
		<div class="twelve columns centered">
			<h3>Choose Your Layout</h3>
			<p class="lead">
				<br> Your choice will be a lasting memory for others
				<br> No pressure ;)
			</p>
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b">
				<ul class="three_up tiles centered hi-icon-effect-9 hi-icon-effect-9b">
					<li>
						<div class="clear"></div>
						<h4>Simple</h4>
						<p>
						</p>
						<%= image_tag "simple.jpg" %>
					</li>
					<li>
						<div class="clear"></div>
						<h4>Classic</h4>
						<p>
						</p>
						<%= image_tag "classic.jpg" %>
					</li>
					<li>
						<div class="clear"></div>
						<h4>Elegant</h4>
						<p>
						</p>
						<%= image_tag "elegant.jpg" %>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>


<!-- END SECTION THUMBS ############################################### -->


<div id="footerSpacer"></div> <!-- USED FOR THE FIXED EFFECT : DON'T REMOVE -->
